<?xml version="1.0" encoding="utf-8"?>

<ServerSync>
	<ApplicationData Version="" />

	<Servers>
		
		<Minecraft-1.7.10>
			<Location FilePath="[Server Folder Here]" ServerProperties="[Server Properties File Here]" Hamachi="" />
			<LastUpdate>01/01/1900 00:00:00</LastUpdate>
			<ServerOpen>False</ServerOpen>
		</Minecraft-1.7.10>
		
		<Minecraft-1.12.2>
			<Location FilePath="[Server Folder Here]" ServerProperties="[Server Properties File Here]" />
			<LastUpdate>01/01/1900 00:00:00</LastUpdate>
			<ServerOpen>False</ServerOpen>
		</Minecraft-1.12.2>
		
		<Space-Engineers>
			<Location FilePath="[Save Folder Here]" />
			<LastUpdate>01/01/1900 00:00:00</LastUpdate>
			<ServerOpen>False</ServerOpen>
		</Space-Engineers>
		
		<Cold-Waters>
			<Location FilePath="[Game Folder Here]" ModFilePath="[Storage Folder Here]" />
			<LastRan>01/01/1900 00:00:00</LastRan>
			<ModRunning>Vanilla +</ModRunning>
		</Cold-Waters>
		
		<Kyles-Server>
			<Location IPAddress="[External IP Here]" Port="[Game Port Here]" />
		</Kyles-Server>
		
	</Servers>
</ServerSync>